@import url(font-awesome.min.css);
@font-face {
  font-family: 'HelveticaLTStd-BoldCond';
  src: url("../fonts/HelveticaLTStd-BoldCond.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLTStd-BoldCond.otf") format("opentype"), url("../fonts/HelveticaLTStd-BoldCond.woff") format("woff"), url("../fonts/HelveticaLTStd-BoldCond.ttf") format("truetype"), url("../fonts/HelveticaLTStd-BoldCond.svg#HelveticaLTStd-BoldCond") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeueLTPro-BdCn';
  src: url("../fonts/HelveticaNeueLTPro-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTPro-BdCn.otf") format("opentype"), url("../fonts/HelveticaNeueLTPro-BdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTPro-BdCn.ttf") format("truetype"), url("../fonts/HelveticaNeueLTPro-BdCn.svg#HelveticaNeueLTPro-BdCn") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #FFFCF4;
  font-family: HelveticaNeueLTPro-BdCn; }

header {
  background-color: #011B36; }
  header .content-login {
    z-index: 9; }
  header nav {
    margin-top: 80px; }
  header .nav li {
    font-family: HelveticaLTStd-BoldCond;
    font-size: 1.1em; }
    header .nav li a:focus, header .nav li a:hover, header .nav #portafolio ul.nav-justified li a.product-active, #portafolio ul.nav-justified header .nav li a.product-active {
      background-color: transparent;
      border-bottom: 3px solid #029cfe;
      border-radius: 0; }
  header .nav a {
    color: #ffffff; }
    header .nav a:hover, header .nav #portafolio ul.nav-justified li a.product-active, #portafolio ul.nav-justified li header .nav a.product-active {
      color: #029CFE; }
  header .header-socials {
    margin-top: 30px; }
    header .header-socials li {
      display: inline-block; }

#banner {
  position: relative; }
  #banner form {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 280px; }
    #banner form h3 {
      display: inline-block;
      background-color: #004B9C;
      color: #ffffff;
      padding: 11px 18px 4px;
      text-transform: uppercase;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
    #banner form .form-cotizacion {
      background-color: rgba(0, 0, 0, 0.7);
      padding: 15px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
      #banner form .form-cotizacion .checkbox {
        color: #ffffff; }
      #banner form .form-cotizacion button.btn {
        padding-top: 6px;
        padding-bottom: 6px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0; }

#nosotros {
  color: #8F8E91;
  margin-top: 40px; }
  #nosotros h1 {
    color: #029CFE; }
  #nosotros .colash-images {
    margin-top: 30px;
    margin-bottom: 50px; }
    #nosotros .colash-images img {
      border: 3px solid #0C4280; }
    #nosotros .colash-images .col-sm-12,
    #nosotros .colash-images .col-sm-6,
    #nosotros .colash-images .col-sm-4,
    #nosotros .colash-images .col-sm-5,
    #nosotros .colash-images .col-sm-2 {
      padding-left: 10px;
      padding-right: 10px; }
    #nosotros .colash-images .col-sm-5 {
      width: 40.016667%; }
    #nosotros .colash-images .col-sm-2 {
      width: 19.966667%; }
  #nosotros .other-content {
    background-color: #D5E0EA;
    padding: 20px 0;
    margin-bottom: 50px; }
    #nosotros .other-content h3 {
      font-weight: 400;
      color: #0C4280; }
    #nosotros .other-content .col-sm-6 {
      margin-bottom: 15px; }
    #nosotros .other-content .icon-gallery > div {
      margin-top: 15px; }
      #nosotros .other-content .icon-gallery > div > div {
        height: 150px;
        border: 1px solid #B0B4BB;
        padding: 12px 5px 10px;
        text-align: center; }
        #nosotros .other-content .icon-gallery > div > div img {
          display: inline-block;
          width: 74px; }
        #nosotros .other-content .icon-gallery > div > div .fix-vinil {
          height: 56.92px;
          width: auto; }
        #nosotros .other-content .icon-gallery > div > div .icon-block-letrero {
          width: 84px;
          background-color: #000;
          height: 37.92px;
          display: inline-block;
          margin: 15px 6px 0; }
        #nosotros .other-content .icon-gallery > div > div .fix-letrero {
          width: 76px; }
        #nosotros .other-content .icon-gallery > div > div .fix-banderola {
          height: 56px; }
        #nosotros .other-content .icon-gallery > div > div .fix-title-vial {
          width: 90px; }
        #nosotros .other-content .icon-gallery > div > div h4 {
          display: inline-block;
          vertical-align: bottom;
          font-size: 1em;
          color: #0C4280;
          margin-top: 0;
          margin-bottom: 0; }
        #nosotros .other-content .icon-gallery > div > div p {
          line-height: 1;
          font-size: .9em;
          margin-top: 10px;
          margin-bottom: 0; }
        #nosotros .other-content .icon-gallery > div > div:hover {
          background-color: #029CFE;
          color: #ffffff; }
          #nosotros .other-content .icon-gallery > div > div:hover h4, #nosotros .other-content .icon-gallery > div > div:hover .fa {
            color: #ffffff; }
          #nosotros .other-content .icon-gallery > div > div:hover .icon-block-letrero {
            background-color: #ffffff; }
      #nosotros .other-content .icon-gallery > div i {
        color: #0C4280; }
    #nosotros .other-content .line-right {
      border-right: 5px solid #9BB6D1; }
    #nosotros .other-content .clients {
      margin-top: 70px; }
      #nosotros .other-content .clients h6 {
        white-space: nowrap;
        color: #6D6D6E; }
  #nosotros .short-footer {
    margin-bottom: 50px; }
    #nosotros .short-footer .col-sm-7 {
      padding-right: 0; }
    #nosotros .short-footer .col-sm-5 {
      padding-left: 0; }
  #nosotros .content-short-footer {
    color: #ffffff;
    padding: 30px 0 77px 50px;
    background: url("../images/parte-de-contactos.jpg") no-repeat 50% 50%; }
    #nosotros .content-short-footer h4 {
      text-transform: uppercase; }

/*  */
#about-us {
  color: #454545; }
  #about-us .first-title {
    font-size: 1.8em;
    font-weight: 100 !important; }
    #about-us .first-title span {
      display: block;
      height: 5px;
      margin: 20px 25%;
      background-color: #029CFE; }
  #about-us .text-body {
    margin: 50px 0 80px; }
    #about-us .text-body .col-sm-8 {
      font-size: 1.1em;
      margin-top: 25px; }
  #about-us .about-section {
    width: 70%; }
    #about-us .about-section i {
      color: #029CFE; }
    #about-us .about-section img {
      margin-top: 13px; }
    #about-us .about-section h4 {
      margin-bottom: 25px;
      margin-top: 20px; }

/* */
#clients .clients {
  margin-top: 50px;
  margin-bottom: 50px; }
  #clients .clients > div {
    margin-bottom: 30px; }
  #clients .clients h4 {
    color: #029CFE; }

/* */
#contact .body-contact {
  margin-top: 30px;
  margin-bottom: 30px; }
  #contact .body-contact > div:first-child {
    padding-right: 0; }
  #contact .body-contact > div:last-child {
    padding-left: 0; }
  #contact .body-contact .content-form-contact {
    padding: 50px 40px 45px;
    width: 452px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff; }
    #contact .body-contact .content-form-contact > p {
      margin-bottom: 35px; }
    #contact .body-contact .content-form-contact .contact-data {
      font-size: 1em; }
    #contact .body-contact .content-form-contact form {
      width: 80%; }
      #contact .body-contact .content-form-contact form .form-control {
        background-color: #B1B1B1;
        border: none; }
        #contact .body-contact .content-form-contact form .form-control::-webkit-input-placeholder {
          color: #5D5D5D; }
        #contact .body-contact .content-form-contact form .form-control:-moz-placeholder {
          /* Firefox 18- */
          color: #5D5D5D; }
        #contact .body-contact .content-form-contact form .form-control::-moz-placeholder {
          /* Firefox 19+ */
          color: #5D5D5D; }
        #contact .body-contact .content-form-contact form .form-control:-ms-input-placeholder {
          color: #5D5D5D; }
      #contact .body-contact .content-form-contact form button {
        padding-bottom: 5px;
        background-color: #029CFE; }

/* */
#services {
  margin-bottom: 60px; }
  #services .left-content-services {
    background-color: #363636;
    padding-bottom: 25px; }
    #services .left-content-services h2 {
      background-color: #003471;
      color: #ffffff;
      padding: 15px 13px 7px;
      font-size: 1.5em;
      margin-top: 0; }
    #services .left-content-services li a {
      padding: 6px 10px 3px;
      display: block;
      color: #ffffff;
      text-decoration: none; }
      #services .left-content-services li a:hover, #services .left-content-services #portafolio ul.nav-justified li a.product-active, #portafolio ul.nav-justified #services .left-content-services li a.product-active {
        background-color: #029CFE; }
    #services .left-content-services li span {
      display: block;
      height: 1px;
      background-color: #ffffff;
      margin-left: 10px;
      margin-right: 10px; }
    #services .left-content-services li:last-child span {
      display: none; }
    #services .left-content-services form {
      width: 84%;
      background-color: #1772AC;
      margin-top: 90px; }
      #services .left-content-services form h3 {
        background-color: #004B9C;
        float: left;
        width: 100%;
        margin: 0px 0 15px;
        padding: 12px 0 5px;
        color: #ffffff; }
      #services .left-content-services form .content-controls {
        padding: 10px; }
      #services .left-content-services form .checkbox {
        color: #ffffff; }
      #services .left-content-services form button {
        background-color: #004B9C;
        padding-bottom: 3px; }
  #services .right-content-services {
    border: 1px solid #029CFE;
    padding: 15px;
    height: 762px; }
    #services .right-content-services h4 {
      color: #029CFE;
      text-transform: uppercase;
      text-decoration: underline; }
    #services .right-content-services ul li {
      float: left; }
      #services .right-content-services ul li a {
        color: #8F8E91; }
    #services .right-content-services .body-content img {
      border: 3px solid #D1DCE4; }
    #services .right-content-services .txt-body-content {
      margin-top: 40px; }

/* */
#portafolio {
  margin-bottom: 60px; }
  #portafolio .portafolio {
    margin-top: 40px;
    margin-bottom: 20px; }
  #portafolio ul.nav-justified li + li {
    border-left: 2px solid #5D5D5D; }
  #portafolio ul.nav-justified li a {
    color: #5D5D5D;
    font-size: 1.1em;
    white-space: nowrap; }
    #portafolio ul.nav-justified li a:hover, #portafolio ul.nav-justified li a.product-active {
      background-color: transparent;
      color: #029CFE; }
    #portafolio ul.nav-justified li a:focus {
      background-color: transparent;
      outline: none; }
  #portafolio .product {
    position: relative;
    margin-top: 30px; }
    #portafolio .product .product-img {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      height: 350px; }
    #portafolio .product .product-title {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: #ffffff;
      background-color: #029CFE;
      padding-top: 10px; }
      #portafolio .product .product-title h4 {
        margin-top: 0; }

footer {
  background-color: #252525;
  border-bottom: 25px black solid;
  color: #ffffff;
  padding-top: 25px; }
  footer .logo-footer {
    width: 170px; }
  footer p.text-justify, footer .list-unstyled a {
    color: #8F8E91;
    line-height: 1.8;
    width: 80%; }
  footer .list-unstyled li {
    margin-top: 6px;
    margin-bottom: 6px; }
  footer .form-email {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    border-color: #8F8E91; }
  footer form button.btn {
    background-color: #4E4E4E;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }

.contact-data i {
  vertical-align: middle; }
.contact-data span.fa-stack {
  color: #8F8E91; }

.m-botton-20 {
  margin-bottom: 20px; }

.hr {
  border: 2px solid #9BB6D1; }

.marginb-0 {
  margin-bottom: 0; }

.main-title {
  color: #029CFE;
  margin-top: 40px;
  margin-bottom: 20px; }

@media (max-width: 1200px) {
  header nav {
    margin-top: 46px; }

  #banner form {
    top: 0; }

  .no-padding {
    padding: 0; }

  .icon-gallery .icon-block-letrero {
    margin-top: 0 !important; }
  .icon-gallery .fix-banderola {
    height: 43px !important;
    width: auto !important; }
  .icon-gallery .fix-letrero,
  .icon-gallery .fix-title-vial {
    width: auto !important; }
  .icon-gallery .fa-4x {
    font-size: 3em; }

  .content-short-footer {
    padding: 20px 0 22px 50px !important;
    background: url("../images/parte-de-contactos.jpg") no-repeat 50% 50%; } }
@media (max-width: 992px) {
  header nav {
    margin-top: 25px; }
  header .header-socials {
    margin-top: 0; }

  .contact-data {
    margin-bottom: 0; }

  .content-short-footer {
    padding: 4px 1px 3px 20px !important;
    font-size: .9em; }

  #nosotros .other-content h3 {
    font-size: 1.3em; }

  #banner form h3 {
    margin-top: 3px;
    font-size: 1em;
    margin-bottom: 0px;
    padding: 6px 18px; }
  #banner form .form-cotizacion {
    padding: 10px; }
    #banner form .form-cotizacion textarea {
      height: 58px; } }
@media (max-width: 678px) {
  header img.logo {
    height: 64px; }
  header .navbar-collapse {
    position: absolute;
    background-color: #011B36;
    left: 0;
    right: 0;
    top: 85px;
    z-index: 3; }
    header .navbar-collapse .nav-pills > li {
      float: none;
      padding-top: 4px;
      padding-bottom: 4px; }
  header .navbar-toggle {
    border-color: #ffffff; }
    header .navbar-toggle .icon-bar {
      background-color: #ffffff; }
  header .header-socials {
    margin-right: 26px; }

  #nosotros .colash-images .col-sm-12,
  #nosotros .colash-images .col-sm-6,
  #nosotros .colash-images .col-sm-4,
  #nosotros .colash-images .col-sm-5,
  #nosotros .colash-images .col-sm-2 {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%; }
  #nosotros .other-content .line-right {
    border-right: none; }
  #nosotros .other-content .hr {
    border: none; }
  #nosotros .short-footer .col-sm-7 {
    padding-right: 15px; }
  #nosotros .short-footer .col-sm-5 {
    padding-left: 15px; }
  #nosotros .short-footer .content-short-footer {
    padding-right: 20px !important; }

  #about-us .about-section {
    width: 80%; }

  footer .container .row > div {
    margin-bottom: 30px; }
    footer .container .row > div:last-child {
      margin-bottom: 0; }
  footer p.text-justify, footer .list-unstyled a {
    width: 100%; } }
@media (min-width: 992px) {
  footer .container .row .col-sm-5 > img {
    float: left; }
  footer .container .row .col-sm-5 p {
    clear: left; } }
